*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
}
header .brand img{
    height: 100px;
}
.section-main{
    position: ralative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left, rgba(90, 155, 176, 0.8), rgba(0,0,0,.1)), url(./imagenes/Fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
}
.section-main h1{
    color: rgb(255, 255, 255, 0.8);
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    text-shadow: 0 0 3px #fff, 0 0 3px #000;
}
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    transition: 0.6;
}
header.down{
    background: #000;
    padding: 15px 80px;
}
header .menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center0;
}
header .menu ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .menu ul li{
    list-style: none;
}
header .menu a{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin: 0 30px;
    padding: 7px 12px;
    border-radius: 20px;
    transition: 0.5s;
    transition-property: color, backgraund;
}
header .menu a:hover{
    color: #000;
    background: #fff;
}
.section-two{
    padding: 20px;
}
header .btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
@media(max-width: 991px){
    header, header .down{
        padding: 20px 40px;
    }
    header .btn{
        display: block;
    }
    header .menu{
        position: fixed;
        background: #000;
        min-width: 33px;
        height: 100hv;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }
    header .menu ul{
        flex-direction: column;
    }
    header .menu.active{
        right: 0;
    }
    header .menu .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }
    header .menu a{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
}
@media(max-width: 600px){
    .section-main h1{
        font-size: 50px;
        line-height: 60px;
    }
}


#noticias{
    background: beige;
    color: black;
    padding: 100px;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    
}
#entrevistas{
    background: beige;
    color: black;
    padding: 100px;
    margin-bottom: 60px;
    text-align: center;
}
#lanzamientos{
    background: beige;
    color: black;
    padding: 100px;
    margin-bottom: 60px;
    text-align: center;
}
p{
    border-left: solid black 1px;
    border-right: solid black 1px;
}
footer{
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-top: solid #fff 1px ;
}